body{
	margin: 0;
}
.title{
	background-color: lightgreen;
	width: 60%;
	margin: 10px auto;
	text-align: center;
}
.form{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: lightgreen;
	width: 90%;
	height: 80px;
	margin: 10px auto;
}
.form__label{
	margin: auto;
}
.form__text{
	margin: auto;
}
.form__boton{
	margin: auto;
	border-radius: 15px;
	background-color: lightblue;
	border: 2px solid black;
}
.canvas{
	background-color: lightgreen;
	width: 300px;
	height: 300px;
	margin: auto;
	border: 2px solid black;
}
.text{
	text-align: center;
	font-size: 30px;
}
.boton-reinicio{
	display: block;
	box-sizing: border-box;
	background-color: lightblue;
	width: 40%;
	height: 40px;
	margin: 10px auto;
	padding: 7px;
	text-decoration: none;
	text-align: center;
	font-size: 25px;
	border-radius: 50px;
	color: black;
	border: 2px solid black;
}
@media screen and (max-width: 570px){
	.title{
		width: 90%;
	}
	.form{
		height: 120px;
	}
	.form__label{
		text-align: center;
		font-size: 25px;
		width: 90%;
	}
	.form__text{
		height: 20px;
		width: 90%;
	}
	.form__boton{
		width: 90%;
		font-size: 20px;
		margin: 10px auto;
	}
	.boton-reinicio{
		width: 60%;
	}
}